security:
    password_hashers:
        Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider

            form_login:
                login_path: login
                check_path: login
                default_target_path: acceuil

            logout:
                path: logout
                target: login
                csrf_token_manager: security.csrf.token_manager
                csrf_token_id: logout

    access_control:
        - { path: ^/dash, roles: ROLE_ADMIN }
