body {
    background-image: url("../images/cardpic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cadre-images {
    max-width: 1200px;
    height: clamp(280px, 45vh, 420px);
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    background: #000;
    border-radius: 25px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
    border: 2px solid #fca311;

}

.img-box {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    border: 2px solid #fca311;
}


.img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, filter 0.6s ease;
}


.img-box:hover img {
    transform: scale(1.08);
    filter: brightness(1.1) contrast(1.05);
}


.img-box::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    box-shadow: inset 0 0 0 rgba(255,255,255,0);
    transition: box-shadow 0.6s ease;
}

.img-box:hover::after {
    box-shadow: inset 0 0 40px rgba(255,120,60,0.25);
}

.map{
    width: 1230px;
    margin-left: 110px;
    border-radius: 20px;
    height: 400px;
    border: 2px solid #fca311;
}
.h1-cinema1{
    font-family: 'Unbounded', sans-serif;                                      
    font-size: large;
    color: #fca311;
    margin-top: 50px;
    margin-left: 35px;
    text-shadow: 0px 0px 5px black;
}
.h1-cinema2{
    font-family: 'Unbounded', sans-serif;                                      
    font-size: large;
    color: #fca311;
    margin-top: 50px;
    text-shadow: 0px 0px 5px black;
    margin-bottom: 30px;
    margin-left: 35px;
}








.cinema-info {
    display: flex;
    gap: 10px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin-top: 50px;
    margin-left: 220px;
    margin-top: 10%;
    margin-bottom: 14%;
}

.info-box {
    background: #222;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    width: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background,0.9s;
}
.info-box:hover{
    background: black;
}
.big-text {
    font-size: 20px;
    font-family: 'Unbounded', sans-serif;                                      
    font-weight: bold;
}
.small-text {
    font-family: 'Unbounded', sans-serif;                                      
    font-size: 20px;
}
.h2-cinema1{
    background-color: black;
    padding: 6px;
    font-family: 'Unbounded', sans-serif;                                                                          
    color: #fca311;
    border-radius: 5px;
    box-shadow: 0PX 0PX 2PX #fca311;
    width: 44%;
    margin-left: 6%;
    margin-top: 60px;
}
.h2-cinema3{
    font-family: 'Unbounded', sans-serif;                                      
    font-size: large;
    color: #fca311;
    margin-top: 50px;
    text-shadow: 0px 0px 5px black;
    margin-left: 35px;
    margin-top: 7%;
}