body{
    background-image: url("../images/contactmod.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main-ctt{
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Afacad', sans-serif;
    color: black;
    text-align: center;
    padding: 20px;
    
}
.container-contact{
    margin: -8px;
    padding-top: 30px;
    margin-top: -30px;
    margin-right: -8px;
    width: 100%;
    height: 600px;

}

.title-add{
        font-family: 'Unbounded', sans-serif;                                      
        color: #fca311;
        font-size: medium;
        text-align: start;  
}
.adresse{
    background-color: black;
    width: 50%;
    padding: 20px;
    opacity: 0.89;
    border-radius: 10px;
    margin-left: 22%;
    margin-top: 10%;
    transition: opacity,0.4s;
    box-shadow: 0px 0px 5px black;
    color: #fca311;

}
.adresse:hover{
    opacity: 1;
    box-shadow: 0px 0px 10px black;
    color: #fca311;
}




 @media screen and (max-width: 768px) {
  .container-contact{
    padding-right: 12px;
    margin-bottom:-50px ;

  }
  .adresse{
    opacity: 1;
    width: 400px;
    margin-left: 50px;
    height: 240px;
    margin-top: 90px;
  }
}



