body {
    background: #000;
    color: #fff;
    font-family: 'Segoe UI', sans-serif;
}

.recu-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recu-card {
    background: #111;
    width: 700px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 20px 50px rgba(252,163,17,0.3);
}

.recu-title {
    text-align: center;
    color: #fca311;
    margin-bottom: 25px;
    font-family: 'Star Killers', sans-serif;
}

.recu-film {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.recu-film img {
    width: 160px;
    height: 230px;
    object-fit: cover;
    border-radius: 12px;
}

.film-info h2 {
    color: #fca311;
    margin-bottom: 10px;
}

.film-info p {
    margin: 6px 0;
    color: #ccc;
}

.recu-user {
    background: #000;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 25px;
}

.recu-user h3 {
    color: #fca311;
    margin-bottom: 10px;
}

.recu-footer {
    text-align: center;
}

.btn-back {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #fca311;
    color: #fca311;
    text-decoration: none;
    transition: 0.3s;
}

.btn-back:hover {
    background: #fca311;
    color: #000;
}
