.container-sign{
    margin: -8px;
    padding-top: 30px;
    margin-top: -30px;
    margin-right: -30px;
    background-image: url(../images/loginmod.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 101.1%;
    height: 700px;

}
.title-signup{
    margin-top: -1.1px;
    position: absolute;
    white-space: nowrap;
    animation: slide 5s linear 1;
    background-color: black;
    padding: 6px;
    font-family: 'Star Killers', sans-serif;                                           
    color: #fca311;
    border-radius: 5px;
    margin-left: 22%;
    box-shadow: 0PX 0PX 2PX #fca311;
    
}

@keyframes slide {
    from {
        left: -100%;
    }
    to {
        left: 0.45%;
    }
}
.signtitle{
    margin-left: 400px;
    margin-top: -32px;
    font-family: 'Unbounded', sans-serif;                                      
    color: black;
    text-align: center;        
               
}
.h2_sign{
    color: black;
    font-size: small;
}
.card-sign{
    margin-top: 8%;
    background-color: #fca311;
    padding: 20px;
    align-items: center;
    padding-top: 50px;
    border-radius: 20px;
    box-shadow: 0PX 0PX 20PX BLACK;
    height: 72%;
    margin-left:10% ;
    margin-right: 10%;
    transition: 9s;
    animation: rotatingShadow 12s infinite linear;
    margin-bottom: 200px;
    padding-left: 80px;
}
.form-sign{
    text-align: center;
    padding: 40px;
    margin-top: -29px;

}
.input-sign{
    padding :5px; 
    background-color: #fca311;
    outline: none;
    border: none;
    border-bottom:  2px solid black;
    transition: border-bottom,0.3s ease;
    width: 150%;
    border-bottom: linear-gradient(to right, transparent, black);
    margin-left: 53%;
}
.input-sign:focus{
    border: none;
    border-bottom:  2px solid #ccc;
    background-color: #fca311;
    font-family: 'Unbounded', sans-serif;                                      

}
.input-sign::placeholder {
    color: black;
    transition: opacity 0.3s ease;
    margin-right: 64px;
    font-family: 'Unbounded', sans-serif;                                      
    background-color: #fca311;
    font-size: small;


}
.input-sign:focus::placeholder{
    opacity: 0;


}
.btn-sign{
    text-transform: capitalize;
    background-color: black;
    color: #fca311;
    border: none;
    border:2px solid black;
    height: 40px;
    border-radius:8px;
    margin-right: 5px;
    transition: background-color,0.3s;
    padding-left: 75PX;
    padding-right: 75PX;
    height: 50px;
    margin-left: 52%;
    margin-bottom: 15px;
    font-family: 'Unbounded', sans-serif;                                      
    font-size: small;

}
.btn-sign:hover{
    background-color: #fca311;
    color: black;

}
.link-sign{
    color: black;
    font-family: 'Afacad', sans-serif;

}
.link_sign{
    font-family: 'Afacad', sans-serif;
}
.link-sign:hover{
    color: rgb(9, 9, 94);
}
 




.divsign{
    display: flex;
    gap: 30px;
    
}
.imghh{
    height: 70%;
    margin-top: 8%;
    width: 50%;
    margin-right: -55px;
    margin-left: -110px;
}
@media screen and (max-width: 768px) {
  .container-sign{
    padding-right: 13px;
    margin-bottom: -60px;
  }

.signtitle{
    margin-left: 4px;
    font-size: small;
}
.title-signup{
    display: none;
}
.input-sign{
    margin-left: -45px;
    width: 180%;
}
.btn-sign{
    margin-left: 40px;
    width:120px;
    padding-left: 30px;
    padding-right: 70px;

}
.autre_sign{
margin-left: -190px;
width: 350px;
}

}